<%- include header %>
<div class="container">
	<div class="row">
		<!-- 左侧 -->
		<div class="col-xs-9">
			<!-- 定位 -->
			<%= include location %>
			<div class="jumbotron index-post-info">
				<ul class="archive">
				<% var lastYear = 0 %>
				<% posts.forEach(function (post, index) { %>
				  <% if(lastYear != post.time.year) { %>
				    <li><h3><%= post.time.year %></h3></li>		<!-- 如果不是同一年份，就要显示年份 -->
				  <% lastYear = post.time.year } %>
				    <li><time><%= post.time.day %></time></li>
				    <li class="title-border"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
				<% }) %>
				</ul>
			</div>
		</div>
		<!-- 右侧 -->
		<%- include sidebar %>
	</div>
</div>
<%- include footer %>