<div class="col-xs-3">
	<!-- 本站搜索 -->
	<div class="input-group">
		<form action="/search" method="get">
			<input type="text" name="key" class="form-control" placeholder="输入要查找的内容">
			<!-- <span class="input-group-btn">
				<button class="btn btn-reverse" type="button">Go!</button>
			</span> -->
		</form>		
	</div>
	<!-- 近期文章 -->
	<div class="sb-box">
		<h4 class="sb-line">近期文章</h4>
		<ul class="sb-cont">
		<% posts.forEach(function(post, index) { %>
		<% var count = 4 %>
			<% if (count--) { %>
				<li>
					<a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
					<span class="post-data"><%= post.time.day %></span>
				</li>
			<% } %>
		<% }) %>

			<!-- <li>
				<a href="###">js 如何实现暂停和继续功能</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">为什么php中没有ruby的webrick？</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">php区别电脑浏览器和手机浏览器</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">求助如何设计大数据的课程</a>
				<span class="post-data">2015-1-16</span>
			</li>
			<li>
				<a href="###">调整php-fpm进程数之后，为什么负载飙升的厉害</a>
				<span class="post-data">2015-1-16</span>
			</li> -->
		</ul>
	</div>

	<!-- 热门标签 -->
	<div class="sb-box">
		<h4 class="sb-line">热门标签</h4>
		<div class="sb-cont">
			<a href="###"><span class="label label-default">JavaScript</span></a>
			<a href="###"><span class="label label-primary">html</span></a>
			<a href="###"><span class="label label-success">css3</span></a>
			<a href="###"><span class="label label-info">ajax</span></a>
			<a href="###"><span class="label label-warming">html5</span></a>
			<a href="###"><span class="label label-danger">JavaScript</span></a>
			<a href="###"><span class="label label-primary">json</span></a>
			<a href="###"><span class="label label-default">mongodb</span></a>
		</div>
	</div>

	<!-- 友情链接 -->
	<div class="sb-box">
		<h4 class="sb-line">友情链接</h4>
		<div class="sb-cont">
			<ul class="visitor">
				<li><a href="https://github.com/" target="_blank"><img src="/images/github.jpg" alt="github" title="github" class="visitor-photo img-circle"></a></li>
				<li><a href="http://stackoverflow.com/" target="_blank"><img src="/images/stackoverflow.jpg" alt="stackoverflow" title="stackoverflow" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.imooc.com/course/list" target="_blank"><img src="/images/imooc.png" alt="imooc" title="imooc" class="visitor-photo img-circle"></a></li>
			</ul>
			<ul class="visitor">
				<li><a href="" target="_blank"><img src="/images/mongo.jpg" alt="mongo数据库" title="mongoDB" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.w3school.com.cn/" target="_blank"><img src="/images/logo.jpg" alt="w3school" title="w3school" class="visitor-photo img-circle"></a></li>
				<li><a href="http://www.w3cplus.com/" target="_blank"><img src="/images/w3c.jpg" alt="w3cplus" title="w3cplus" class="visitor-photo img-circle"></a></li>
			</ul>
			<!-- <ul class="visitor">
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
				<li><a href="" target="_blank"><img src="/images/logo.jpg" alt="头像" title="小丸子" class="visitor-photo img-circle"></a></li>
			</ul> -->
		</div>
	</div>

</div>